@model FamilyTreeBuilder1.ModelsGenerated.Person

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deathdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deathdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ismale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ismale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherNavigation.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherNavigation.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
