@model PersonViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Birthdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.Birthdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Deathdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.Deathdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person.FatherNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.FatherNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person.MotherNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.MotherNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Person.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.Birthdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.Deathdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.FatherNavigation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.MotherNavigation)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Children ) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deathdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatherNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotherNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</body>
</html>
