@model PersonViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        @if (Model.Person.FatherNavigation != null)
        {
            <span>Father: @Model.Person.FatherNavigation.Firstname @Model.Person.FatherNavigation.Lastname</span>
            <a asp-action="Details" asp-route-id="@Model.Person.FatherNavigation.Id">Details</a>
        }
        @if (Model.Person.MotherNavigation != null)
        {
            <span>Father: @Model.Person.MotherNavigation.Firstname @Model.Person.MotherNavigation.Lastname</span>
            <a asp-action="Details" asp-route-id="@Model.Person.MotherNavigation.Id">Details</a>
        }

        <h2>@Model.Person.Firstname @Model.Person.Lastname</h2>

        <table>
            <tr>
                @if (Model.Person.Birthdate != null)
                {
                    <td>Birthdate</td>
                    <td>@Model.Person.Birthdate</td>
                }
            </tr>
            <tr>
                @if (Model.Person.Deathdate != null)
                {
                    <td>Birthdate</td>
                    <td>@Model.Person.Deathdate</td>
                }
            </tr>
            <tr>
                @if (Model.Person.Ismale != null)
                {
                    <td>Sex</td>
                    <td>@(Model.Person.Ismale.Value ? "Male" : "Female")</td>
                }

            </tr>
        </table>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Person.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    @if (!Model.Children.Any())
    {
        <h3>No children</h3>
    }
    else
    {
        <h4>Children</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Birth date</th>
                    <th>Death date</th>
                    <th>Sex</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Children)
                {
                    <tr>
                        <td>@item.Firstname</td>
                        <td>@item.Lastname</td>
                        <td>@item.Birthdate</td>
                        <td>@item.Deathdate</td>
                        <td>@(item.Ismale == null ? "" : item.Ismale.Value ? "Male" : "Female")</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
</html>
